Flask==2.3.3
flask-cors==4.0.0
Werkzeug==2.3.7
opencv-python==4.8.1.78
tensorflow==2.18.0
keras==3.6.0
numpy==1.26.4
pillow==10.0.1
python-dotenv==1.0.0
PyPDF2==3.0.1
reportlab==4.2.2
pytesseract==0.3.10
mediapipe==0.10.9
google-generativeai==0.8.3
google-api-core==2.24.0
googleapis-common-protos==1.66.0