<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180197394119-1isdd15r9135lg60th0duag48ttp8ajm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180197394119-1isdd15r9135lg60th0duag48ttp8ajm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>180197394119-ehj1qhvdapggoqjqfat1odeg009sjiec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfZuxXcCAIE9NkLEfl-pn7HQ-staZ1CUA</string>
	<key>GCM_SENDER_ID</key>
	<string>180197394119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scaitica.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sciatica-4fb40</string>
	<key>STORAGE_BUCKET</key>
	<string>sciatica-4fb40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180197394119:ios:30a94f8a5efa846451e0e2</string>
</dict>
</plist>